<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.damazio.notifier"
    android:versionCode="1"
    android:versionName="1.0">

  <application android:icon="@drawable/icon" android:label="@string/app_name">
    <!-- The activity which displays preferences and starts the service -->
    <activity android:name=".NotifierMain" android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <!-- The actual service which listens on events and sends notifications -->
    <service android:name=".service.NotificationService" android:label="@string/app_name" android:icon="@drawable/icon">
    </service>

    <!-- Receiver which starts the service at boot -->
    <receiver android:name=".service.BootServiceStarter">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </receiver>

    <!-- Receiver to capture SMS messages -->
    <receiver android:name=".service.SmsReceiver">
      <intent-filter>
        <action android:name="android.provider.Telephony.SMS_RECEIVED" />
      </intent-filter>
    </receiver>
  </application>

  <uses-sdk android:minSdkVersion="4" />

  <!-- Permissions for catching events -->
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.BATTERY_STATS" />
  <uses-permission android:name="android.permission.RECEIVE_MMS" />
  <uses-permission android:name="android.permission.RECEIVE_SMS" />

  <!-- Permissions for notifying -->
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.BLUETOOTH" />

  <!-- Permissions for starting up -->
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
</manifest>